.author {
  margin: 5rem auto 0 auto;
  padding: 18px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  border: 1px solid _palette(charcoal-light-60);
  text-align: center;
}

.author-image {
  width: 110px;
  height: 110px;
  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
  }
}

.author-text {
  margin-top: 1rem;
}

.author-name {
  & span {
    font-weight: 700;
    color: _palette(accent-green);
  }
}

.author-description {
  margin-bottom: 0;
}

.author-social {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  border-top: 1px solid _palette(charcoal-light-60);
  & p {
    margin: 0 9px 0 0;
    font-size: 18px;
  }
}

.author-social-links {
  display: flex;
  align-items: center;
  width: max-content;
  margin: 0;
  padding: 0;
    & li {
      list-style: none;
      margin: 0 4.5px;
      & a {
      border-bottom: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .author {
    width: max-content;
    text-align: start;
  }

  .author-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .author-text {
    margin-top: 0;
    margin-left: 1rem;
  }
}
