.author {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding: 26px;
  background-color: _palette(white);
  border: 2px solid _palette(charcoal-light-75);
  border-radius: 9px;
  text-align: center;
}

.author-image {
  width: 110px;
  height: 110px;
  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    object-fit: fill;
  }
}

.author-text {
  margin-top: 1rem;
}

.author-name {
  margin: 0;
  font-size: 20px;
  & a {
    font-weight: 600;
    color: _palette(accent-green);
    border-bottom: none;
  }
}

.author-description {
  margin-bottom: 0;
}

@media only screen and (min-width: 541px) { 
  .author {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1020px) { 
  .author-image {
    width: 70px;
    height: 70px;
  }
}