.Donations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 290px;
  margin-bottom: 36px;
  padding: 12px;
  background-color: rgba(0, 0, 0, .025);
  border-radius: 9px;
  border: 1px solid rgba(0, 0, 0, .06);
  text-align: center;

  & p {
    margin: 0 0 8px 0;
    font-size: 20px;
    font-weight: 700;
    color: _palette(charcoal-light-7);
  }

  & a {
    border: none;
  }

  & a:hover {
    color: _palette(charcoal) !important;
  }

  & a:focus {
    color: _palette(charcoal) !important;
  }
}

.Buy-coffee {
  display: inherit;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 42px;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  background-color: #fd0;
  color: _palette(charcoal);
  border-radius: 7px;

  & img {
    width: 25px;
    height: 25px;
  }
}
