/**
 * Helper Classes
 */
// Grid
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.grid-item {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin-bottom: 1.66667em;
  width: 100%;
  padding: 9px;
  background-color: white;
  border-radius: 9px;
  border: 2px solid _palette(charcoal-light-75);

  .grid-col-2 & {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 48%;

    @media only screen and (max-width: 540px) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  .grid-col-3 & {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;

    @media only screen and (min-width: 760px) {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 48%;
    }

    // @media only screen and (min-width: 1020px) {
    //   -ms-flex-preferred-size: 33.333%;
    //   flex-basis: 33.333%;
    //   max-width: 32.333%;
    // }
  }
}

.grid-item-main {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  .grid-item-main {
    margin-bottom: 30px;
  }

  .grid-item-main:nth-child(1), 
  .grid-item-main:nth-child(9) {
    width: 100%;
  }

  .grid-item-main:nth-child(2),
  .grid-item-main:nth-child(3),
  .grid-item-main:nth-child(4),
  .grid-item-main:nth-child(10),
  .grid-item-main:nth-child(11),
  .grid-item-main:nth-child(12) {
    width: 45%;
  }

  .grid-item-main:nth-child(5),
  .grid-item-main:nth-child(6),
  .grid-item-main:nth-child(7),
  .grid-item-main:nth-child(8),
  .grid-item-main:nth-child(13),
  .grid-item-main:nth-child(14),
  .grid-item-main:nth-child(15),
  .grid-item-main:nth-child(16) {
    width: 45%;
  }
}

@media only screen and (min-width: 1020px) {
  .grid-item-main:nth-child(2),
  .grid-item-main:nth-child(3),
  .grid-item-main:nth-child(4),
  .grid-item-main:nth-child(10),
  .grid-item-main:nth-child(11),
  .grid-item-main:nth-child(12) {
    width: 31%;
  }

  .grid-item-main:nth-child(5),
  .grid-item-main:nth-child(6),
  .grid-item-main:nth-child(7),
  .grid-item-main:nth-child(8),
  .grid-item-main:nth-child(13),
  .grid-item-main:nth-child(14),
  .grid-item-main:nth-child(15),
  .grid-item-main:nth-child(16) {
    width: 47%;
  }
}

// Text meant only for screen readers
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

// Clearing floats
.post-content {
  padding-left: 0.83333em;
  padding-right: 0.83333em;
  &:after {
    clear: both;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

// Heading decoration
.line-top {
  position: relative;

  &:before {
    border-left: 45px solid _palette(accent-blue);
    content: "";
    display: block;
    height: 3px;
    margin-bottom: 0.83333rem;
  }
}

