/**
 * Posts and Pages
 */

.post-main {
  margin-bottom: 32px;
  padding: 9px;
  background-color: white;
  border-radius: 9px;
  border: 2px solid _palette(charcoal-light-75);
} 

.page-header,
.post-header {
  padding-left: 0.83333em;
  padding-right: 0.83333em;
}

.post-header-margin {
  margin-bottom: 2.5em;
}

.post-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 9px 0;
}

.post-data-left {
  display: flex;
  align-items: baseline;

  & span {
    font-size: 14px;
    font-weight: 500;
    color: _palette(charcoal-light-25);
  }

  & span:nth-child(2) {
    margin: 0 9px;
  }

  & svg {
    vertical-align: middle;
    margin-right: 9px;
    margin-bottom: 2px;
  }
}

.post-subtitle {
  color: _palette(charcoal-light-40);
  margin-top: 0.5em;

  .palette-dark & {
    color: _palette(charcoal-light-25);
  }
}

.page-subtitle,
.post-subtitle {
  font-size: 1.33333em;
  line-height: 1.4;
}

.post-meta {
  color: _palette(charcoal-light-25);
  font-size: 0.88889em;
  letter-spacing: 1px;
  text-transform: uppercase;

  .palette-dark & {
    color: _palette(charcoal-light-25);
  }
}

.post-image {
  border: 0;
  display: block;
  margin-bottom: 1.66667em;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 9px;
  }
}

/* Post feed */
.post-thumbnail {
  border: 0;
  display: block;
  position: relative;
  width: 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 60%;
  }

  img {
    height: 100%;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 9px;
  }
}

.post-feed {
  .post-header {
    margin-bottom: 0.83333em;
  }

  .post-title {
    font-size: 1.63333em;

    a {
      border: 0;
      color: inherit !important;
    }
  }
}

.post-full {
  padding: 26px 9px;
  border: 2px solid _palette(charcoal-light-75);
}

@media only screen and (min-width: 541px) {
  .post-feed {
    .post-meta {
      font-size: 14px;
    }
  }

  .post-extra {
    display: grid;
    grid-template: max-content max-content / repeat(2, 1fr);
    grid-gap: 16px;
    margin-top: 60px;
  }
}

@media only screen and (min-width: 761px) {
  .post-feed {
    &.grid-col-3 {
      .post-meta {
        font-size: 14px;
      }
    }
  }

  .post-image {
    img {
      height: 520px !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .post-subtitle {
    font-size: 1.22222em;
  }
}

@media only screen and (min-width: 1020px) {
  .post-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .post-main {
    width: 65%;
    margin-bottom: 0;
  }

  .post-full {
    padding: 26px;
  }

  .post-extra {
    display: block;
    position: sticky;
    top: 40px;
    width: 25%;
    height: max-content;
    margin-top: 0;
  }
}
