.post-related {
  margin-top: 26px;
  padding: 26px;
  background-color: _palette(white);
  border: 2px solid _palette(charcoal-light-75);
  border-radius: 9px;

  & h3 {
    margin-bottom: 26px;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.post-related-list {
  padding: 0;

  & li {
    display: flex;
    flex-direction: column-reverse;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.0125);
    border-radius: 9px;
    border: 1px solid _palette(charcoal-light-75);
    list-style: none;
    
    & a {
      border: none;
    }
  }
}

.post-related-list-text {
  padding: 9px;
  font-size: 16px;
  font-weight: 500;
  color: _palette(charcoal);
}

.post-related-list-image {
  & img {
    width: 100%;
    border-radius: 9px 9px 0 0;
  }
}

@media only screen and (min-width: 541px) {
  .post-related {
    grid-column: span 2;
    margin-top: 0;
  }

  .post-related-list {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    grid-gap: 16px;
    margin: 0;
    & li {
      margin: 0;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .post-related {
    margin-top: 13px;
    & h3 {
      margin-bottom: 0;
    }
  }

  .post-related-list {
    display: block;
    padding: 0;

    & li {
      margin-top: 26px;
    }
  }
}
